html, body {    
    width: 100%;
    height: 100%;
    margin: 0;
}

html {
    display: inline-table;
}

body {
    display: table-cell;
    position: relative;
    overflow-y:scroll;
    overflow: -moz-scrollbars-vertical; 
    scroll-behavior: smooth;
    min-width: 320px;
}

#root-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

#root.content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgb(162, 162, 162);
}

#nav {
    flex: 0 1 auto;
    position: relative;
}

#nav .brand-logo {
    width: 100%;
    text-indent: 2%;
}

#main-content {
    flex: 1 1 auto;
    margin: .1em 2em .8em 2em;
    background-color: #FFF;
}

.wrapper {
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

/*
#participants.active-only .non-participation {
    display: none;
}*/

.card-panel .name {
    position: absolute;
    top: -5px;
    left: 30px;
    font-weight: bold;
    font-size: 16px;
}

.mask-overlay {
    display: block;
    opacity: 0.6;
    position: absolute;
    left: .75rem;
    right: .75rem;
    bottom: 1rem;
    top: .5rem;
    background: #ccc;
    border-radius: 1px;
}

.card-buttons {
    position: absolute;
    bottom: 20px;
    right: 15px;
}

/*Material ovverwrite*/

#remove-modal {
    min-height: 215px;
}

.modal-footer {
    font-weight: bold;
}

.modal-footer>a {
    text-decoration: underline;
}

.hide, .active-only-hide {
    display: none;
}

.collapsible-body {
    text-align: center;
    position: relative;
}

.collapsible-body > img {
    width: 75%;
    height: 75%;
    max-width: 550px;
    max-height: 550px;
}

/*MEDIA*/

@media (max-width: 760px) {
    #nav .brand-logo {
        text-align: center;
        text-indent: 0;
    }
    .btn-small {
        font-size: 12px;
        padding: 0 8px;
        height: 28px;
        line-height: 28px;
    }
}

@media (max-width: 625px) {
    .tab.disabled {
        display: none;
    }
    #nav .brand-logo {
        font-size: 28px;
    }
    #nav .brand-logo>i {
        line-height: 52px!important;
    }
    #main-content {
        margin: 0 .8em;
    }
    #main-content>div {
        height: 100%;
        width: 100%;
        position: relative;
    }
    #main-content>div>.wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    #remove-modal {
        min-height: 305px;
    }

    .input-field.col {
        margin-left: 7px !important;
    }
}

@media (max-width: 600px) {
    .btn-small {
        font-size: 13px;
        padding: 0 4px;
        height: 25px;
        line-height: 25px;
    }
}


@media (max-width: 452px) {
    #main-content {
        margin: 0;
    }
    #remove-modal {
        min-height: 345px;
    }
    #nav .brand-logo {
        margin-right: 1em;
        font-size: 20px;
    }
    #nav .brand-logo>i {
        line-height: 50px!important;
    }
    .btn-small {
        font-size: 12px;
        padding: 0 3px;
        height: 25px;
        line-height: 25px;
    }

    .col .row {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }
}

@media (max-width: 400px) {
    #remove-modal {
        min-height: 360px;
    }f
    #nav .brand-logo {
        margin-right: 1em;
        font-size: 20px;
    }
    .btn-small {
        font-size: 9px;
        padding: 0px 5px;
        height: 22px;
        line-height: 22px;
    }
    #nav .brand-logo>i {
        line-height: 50px!important;
    }
}