html, body {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
}

#root-wrapper {
    display: table-cell;
    width: 100%;
    height: 100%;
    position: relative;
}

#root.content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    background-color: rgb(162, 162, 162);
}

#nav {
    flex: 0 1 auto;
    position: relative;
}

#main-content {
    flex: 1 1 auto;
    margin: .1em 2em .8em 2em;
    background-color: #FFF;
}

/*Material ovverwrite*/
#nav .brand-logo{
    left: 32% !important;
}

#nav-remove {
    position: absolute;
    top: 10px;
    right: 15px;
}

#nav-remove > i {
    line-height: 36px;
}

/*MEDIA*/
@media (max-width: 620px) {
    .tab.disabled {
        display: none;
    }

    #nav .brand-logo{
        font-size: 25px;
    }

    #nav-remove {
        font-size: 0;
    }

    #main-content {
        margin: 0 .8em;
    }

    #remove-modal{
        min-height: 265px;
    }
}