html, body {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
    min-width: 320px;
}

#root-wrapper {
    display: table-cell;
    width: 100%;
    height: 100%;
    position: relative;
}

#root.content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    background-color: rgb(162, 162, 162);
}

#nav {
    flex: 0 1 auto;
    position: relative;
}

#nav .brand-logo{
    left: 32% !important;
}

#main-content {
    flex: 1 1 auto;
    margin: .1em 2em .8em 2em;
    background-color: #FFF;
}

.card-panel .name {
    position: absolute;
    top: -5px;
    left: 30px;
    font-weight: bold;
    font-size: 16px;
}

.card-buttons {
    position: absolute;
    bottom: 20px;
    right: 15px;
}

/*Material ovverwrite*/

#remove-modal{
    min-height: 215px;
}

.modal-footer {
    font-weight: bold;
}

.modal-footer > a {
    text-decoration: underline;
}

/*MEDIA*/

@media (max-width: 760px){
    .btn-small {
        font-size: 10px;
    }
}

@media (max-width: 625px) {
    .tab.disabled {
        display: none;
    }

    #nav .brand-logo{
        font-size: 28px;
    }

    #nav .brand-logo>i{
        line-height: 52px!important;
    }

    #main-content {
        margin: 0 .8em;
    }

    #main-content > div {
        height: 100%;
        width: 100%;
        position: relative;
    }

    #main-content > div > .wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    #remove-modal{
        min-height: 280px;
    }
}

@media (max-width: 600px) {
    .btn-small {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    #remove-modal{
        min-height: 325px;
    }

    #nav .brand-logo{
        margin-right: 1em;
        font-size: 20px;
    }
    #nav .brand-logo>i{
        line-height: 50px!important;
    }
}